# Node & Frontend
frontend/node_modules/
node_modules/
.DS_Store

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/
.pytest_cache/
*.sqlite3
*.db-journal

# Binaries & Temporary files
cloudflared.exe
*.log

# Sensitive environments
.env
.env.*
!.env.example
!.env.production
backend/.env
frontend/.env
frontend/.env.local
